html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 14px;
}

/* layout style */
.responsive-sidebar {
    height: 100%;
}

.responsive-sidebar .container-fluid {
    width: 100%;
    height: 100%;
}

.responsive-sidebar .container-fluid .row {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
}

.responsive-sidebar .container-fluid .row .fixed-col {
    display: none;
    opacity: 0;
    transition: all .5s linear;
}

.responsive-sidebar .container-fluid .row .col {
    width: 100%;
    transition: width .5s linear;
}

/* sidebar style */
.responsive-sidebar .sidebar {
    width: 200px;
    height: 100%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background: #001529;
}

.responsive-sidebar .sidebar .logo {
    width: 168px;
    height: 32px;
    margin: 16px;
    line-height: 32px;
    background: #334454;
}

.responsive-sidebar .sidebar .menu-item {
    height: 40px;
    margin: 4px 0;
    padding: 0 16px;
    line-height: 40px;
    background: #1890ff;
}

/* right content style */
.responsive-sidebar .right-col {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    height: 100%;
    background: #f0f2f5;
}

.responsive-sidebar .right-col .header {
    position: relative;
    height: 54px;
    padding: 5px 10px;
    line-height: 54px;
    background: #fff;
}

.responsive-sidebar .header .menu-switch {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    width: 36px;
    height: 42px;
    border-radius: 0 4px 4px 0;
    font-size: 12px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #192c3e;
}

.responsive-sidebar .header .menu-switch>img {
    width: 15px;
    margin: 13px 0;
}

.responsive-sidebar .right-col .main {
    flex: 1;
    margin: 24px 16px 0px;
    padding: 20px;
    background: #fff;
}

.responsive-sidebar .right-col .footer {
    height: 24px;
    padding: 24px 50px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    background: #f0f2f5;
}